MONGO_URL=mongodb+srv://<username>:<password>@<cluster_url>/?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
PORT=3500
COLLECTION=application

# Nodemailer configuration
EMAIL_SERVICE=gmail
EMAIL_USERNAME=your_email_username
EMAIL_PASSWORD=your_email_password

# Uncomment and fill these if using Mandrill
# EMAIL_SERVICE=Mandrill
# EMAIL_USERNAME=your_mandrill_username
# EMAIL_PASSWORD=your_mandrill_password
EMAIL_NAME=your_email_name

# Mailchimp API key and list ID
MAILCHIMP_API_KEY=your_mailchimp_api_key
MAILCHIMP_LIST_ID=your_mailchimp_list_id

# Client Application Name
APPLICATION_NAME=your_application_name

# Client URLs
LOGINHOST=http://localhost:3000
CLIENTLOGINPAGE=auth/signin
CLIENTRESETPASSURL=auth/reset-password
CLIENTCONFIRMURL=auth/confirm-account

# Payment Environment Variables
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret
PAYPAL_MODE=sandbox
STRIPE_PUBLIC_KEY=your_stripe_public_key
STRIPE_SECRET_KEY=your_stripe_secret_key
ROZORPAY_PUBLIC_KEY=your_razorpay_public_key
ROZORPAY_SECRET_KEY=your_razorpay_secret_key
ROZORPAY_SECRET=your_razorpay_secret